.serach-item{
    margin: 25px auto;
    width: 800px;
    border-top: 1px solid #ddd;
    padding: 10px;
}
.serach-item img{
    width: 100%;
    object-fit: contain;
    height: 150px;
}
.serach-item h6{
    font-size: 24px;
    color: blueviolet;
}
.serach-item p{
    margin: 5px;
}
.serach-item span{
    margin-right: 10px;
}